**/.expo
**/web-build
**/*.iml
**/target/**
.idea/
**/*.log
**/node_modules/**
**/dist/**
**/node/**
**/javadocs/
**/javadoc/
**/.vscode/**
**/data/**
**bak**
**/src/main/webapp/static/**
**/src/main/webapp/WEB-INF/**
src/main/webapp/static/**
src/main/webapp/WEB-INF/**
container/apk-bundle/**

