<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <!--Time And Size based rolling appender-->
    <appender name="TS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${CFEA_HOME}/log/cfea.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${CFEA_HOME}/log/log_%d{dd-MM-yyyy}_%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="com.jazasoft.embedded" level="INFO" additivity="false">
        <appender-ref ref="TS_FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.jazasoft.cfea" level="DEBUG" additivity="false">
        <appender-ref ref="TS_FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.jazasoft.util" level="DEBUG" additivity="false">
        <appender-ref ref="TS_FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>